
* {
  font-family: "firacode mono", monospace;
  font-size: 13px;
}

window#waybar {
  background-color: {{background}};
  color: {{foreground}};
}

#workspaces button {
  padding: 5px;
  color: {{color0}};
}

#workspaces button.active {
  background-color: {{foreground}};
  color: {{color1}};
}

#clock, #battery, #network, #cpu, #memory {
  padding: 0 10px;
}
