* {
  font-family: JetBrainsMono, monospace;
  font-size: 13px;
}

window#waybar {
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#workspaces button {
  padding: 5px;
  color: #cdd6f4;
}

#workspaces button.active {
  background-color: #89b4fa;
  color: #1e1e2e;
}

#clock, #battery, #network, #cpu, #memory {
  padding: 0 10px;
}